@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
} */

:root {
    --main: rgba(23, 23, 23, 0.966);
    --primary: rgb(18, 17, 17);
    --secondary: rgb(23, 22, 22);
    --card-color: #242424e7;
}

* {
    margin: 0px;
    padding: 0px;
    color: white !important;
    font-family: poppins, serif;
    font-weight: 400;
    font-style: normal;
}

.d-flex {
    display: flex;
}

.invert {
    filter: invert(1);
}

.icon {
    height: 22px;
    width: 22px;
}

body {
    background-color: var(--main);
}

.container {
    display: flex;
}

.left {
    width: 22vw;
    border-radius: 8px;
    margin: 6px 6px;
    position: relative;
}

.right {
    width: 78vw;
    background-color: var(--primary);
    border-radius: 8px;
    margin: 14px 6px;
    padding: 8px 10px;
}

a {
    text-decoration: none;
}

.item {
    gap: 10px;
    margin: 10px 10px;
    align-items: center;
}

.box-1, .box-2 {
    background-color: var(--secondary);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0px;
    position: relative;
}

.box-2 {
    min-height: 72vh;
}

.logo {
    gap: 10px;
    margin: 12px 10px;
    .icon {
        height: 28px;
        width: 28px;
    }
}

.footer {
    position: absolute;
    bottom: 6px;
}

.copyrights {
    gap: 6px;
}

.copyrights > img , .copyrights > p {
    opacity: 60%;
}

.copyrights > p {
    font-size: 0.6rem;
}

.nav {
    /* border: 2px solid beige; */
    background-color: var(--secondary);
    justify-content: space-between;
    border-radius: 8px;
}

.navigation {
    align-items: center;
    cursor: pointer;
}

.navigation img {
    margin: 0px 2px;
}

.account {
    align-items: center;
    gap: 10px;
}

.account button {
   border-radius: 6px;
   width: 64px;
   height: 32px;
   background-color: var(--main);
   cursor: pointer;
   transition: all 0.2s ease-in;
}

.account button:hover {
    scale: 1.2;
}

.account img:hover {
    scale: 1.2;
}

.albums {
    margin: 12px;
}

.albums > h1 {
    margin: 2px 0px;
}

.album-container {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; */
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 40px;
    /* margin: 0px 12px; */
}

.album-container::-webkit-scrollbar{
    display: none !important;
}

.album-container > .card {
    margin-top: 15px;
    height: 42vh;
    width: 15vw;
    background-color: var(--card-color);
    border-radius: 8px;
}

.album-container > .card > img {
    width: 90%;
    margin: 12px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 0px;
}

.card > h2 {
    margin: 0px 12px;
}

.card > .content {
    margin: 0px 12px;
    gap: 12px;
}

.content > li {
    overflow: hidden;       
    text-overflow: ellipsis; 
    white-space: nowrap;    
    /* display: block;          */
}

.card button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #8a2be2;
    outline: 1px solid black;
    border: none;
    position: relative;
    bottom: 88px;
    left: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
    display: none;
    /* background-image: url("./assets/icons/play.svg");
    object-fit: cover; */
}

.card button > img {
    transform: translateX(2px);
}

.card button:hover {
    background-color: #a63ef1;
    transform: scale(1.1);
}

.card:hover button{
    display: flex;
    bottom: 112px;
    animation: swipe-up 0.2s;
}

.card:hover {
    background-color: #353535e3;
    /* box-shadow: 0px 5px 8px rgb(87, 87, 87); */
    filter: drop-shadow(0px 0px 8px rgb(87, 87, 87));
}


@keyframes swipe-up {
    0% { bottom: 92px; }
    100% { bottom: 112px; }
}
